<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>

<ul>
    <li><a href="/information">Information</a></li>
</ul>

<img src="/images/greenfox.png" alt="Green Fox">

<p th:text="${'This is ' + fox.getName() + '. Currently living on ' + fox.getFood() + ' and ' + fox.getDrink() + '. He knows ' + fox.getTricks().size() + ' tricks.'}"></p>

<h2>Known tricks</h2>

<p th:block th:unless="${fox.getTricks().size() > 0}" th:text="${'You know no tricks yet. Go and learn some.'}"></p>
<p th:block th:if="${fox.getTricks().size() > 0}" th:text="${'He knows ' + fox.getTricks() + ' tricks.'}"></p>

<ul>
    <li>Write HTML</li>
    <li>code in Java</li>
</ul>


</body>
</html>