<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Information Page</title>
</head>
<body>

<div th:replace="fragments/navigation.html :: navigation"></div>

<img src="/images/greenfox.png" alt="Green Fox">

<p th:text="${'This is ' + fox.getName() + '. Currently living on ' + fox.getFood() + ' and ' + fox.getDrink() + '. He knows ' + fox.getTricks().size() + ' tricks.'}"></p>

<h2>Known tricks</h2>

<p th:block th:unless="${fox.getTricks().size() > 0}" th:text="${'You know no tricks yet. Go and learn some.'}"></p>
<ul>
<li th:block th:if="${fox.getTricks().size() > 0}" th:each="trick: ${fox.tricks}" th:text="${trick}" ></li>
</ul>

</body>
</html>