<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trick Center</title>
</head>
<body>

<div th:replace="fragments/navigation.html :: navigation"></div>

<form th:unless="${tricks.size() == 0}" th:action="'/trickCenter?name=' + ${fox.name}" method="post">

    <label for="trick">Tricks: </label>
    <select name="trick" id="trick">
        <option th:each="trickOpt : ${tricks}"
                th:value="${trickOpt}"
                th:text="${trickOpt}"></option>
    </select>

    <input type="submit" value="Learn">

</form>

<p th:if="${tricks.size() == 0}">You already know all tricks!</p>

</body>
</html>