<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheet.css"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
    </style></head>
<body>

<main class="formPage">

    <div class="loginFormContainer">

        <h1>Login Form</h1>

        <form th:action="@{/user/login}" th:object="${user}" method="post">

            <label class="loginLabel1" for="username">Username: </label>
            <input class="loginInput1" type="text" id="username" th:field="*{name}" required autofocus><br>

            <label class="loginLabel2" for="email">Email: </label>
            <input class="loginInput2" type="text" id="email" th:field="*{email}" required autofocus><br>

            <label class="loginLabel3" for="password">Password: </label>
            <input class="loginInput3" type="password" id="password" th:field="*{password}" required><br>

            <button type="submit">Submit</button>

        </form>

        <div class="successMessage" th:if="${param.succesLogin}">
            <p>Login was successful</p>
        </div>

        <div class="errorMessage" th:if="${param.errorInvalidEmail}">
            <p>Invalid email address.</p>
        </div>

        <div class="errorMessage" th:if="${param.errorInvalidPassword}">
            <p>Invalid password.</p>
        </div>

        <div class="errorMessage" th:if="${param.errorInvalidUsername}">
            <p>Invalid Username.</p>
        </div>

    </div>
</main>







</body>
</html>