<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/stylesheet.css"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
    </style></head>
<body>

<main class="regFormPage">

    <div class="regFormContainer">

        <h1>Registration</h1>

        <form th:action="@{/user/registration}" method="post" th:object="${user}">

            <label class="regLabel1" for="username">Username: </label>
            <input class="regInput1" type="text" id="username" th:field="*{name}" required autofocus>

            <label class="regLabel2" for="email">Email: </label>
            <input class="regInput2" type="email" id="email" th:field="*{email}" required>

            <label class="regLabel3" for="password">Password</label>
            <input class="regInput3" type="password" id="password" th:field="*{password}" required>

            <label class="regLabel4" for="matchPassword">Please enter your password again to verify: </label>
            <input class="regInput4" type="password" id="matchPassword" th:field="*{passwordMatch}">

            <button type="submit" value="submit" class="regSubBtn">Submit</button>

        </form>

        <div class="messages">
            <div class="successMessage" th:if="${param.succes}">
                <p>Registration was successful</p>
            </div>

            <div class="errorMessage" th:if="${param.errorExistingUsername}">
                <p>This username already exists.</p>
            </div>

            <div class="errorMessage" th:if="${param.errorNotMatchingPasswords}">
                <p>Your passwords do not match!</p>
            </div>
        </div>

        <p class="footerMessage">Already registered? <a th:href="@{/user/login}">Login here</a></p>

    </div>
</main>

</body>
</html>