<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>

<div class="page">
    <a href="/todo/add">Add new todo</a>

    <div th:replace="fragments/searchBar.html :: searchBar"></div>

    <h1>Todos for today:</h1>

    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Urgent</th>
            <th>Done</th>
        </tr>
        <tr th:if="${todos.empty}">
            <td colspan="6">No Todos available</td>
        </tr>
        <tr th:each="todos:${todos}">
            <td th:text="${todos.id}"></td>
            <td th:text="${todos.title}"></td>
            <td th:text="${todos.urgent}"></td>
            <td th:text="${todos.done}"></td>
            <td><a th:href="@{'/todo/' + ${todos.id} + '/delete'}" th:text="delete"></a></td>
            <td><a th:href="@{'/todo/' + ${todos.id} + '/edit'}" th:text="edit"></a></td>
        </tr>

    </table>
</div>

</body>
</html>