body {
    font-family: 'Comfortaa', cursive;
    margin: 0;
}

header {
    color: hsl(184, 63%, 27%);
    border-bottom: hsl(184, 63%, 83%) solid 2px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background-color: hsl(184, 63%, 95%);
}

a {
    color: hsl(184, 63%, 27%);
    text-decoration: none;
}

a:hover{
    color: hsl(184, 43%, 17%);
    text-decoration: none;
}

.content, .header-panel{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
.menu {
    text-align: center;
    background-color: black;
    width: 100%;
}

h1, .title {
    font-size: 40px;
    padding: 15px 0px 15px 0px;
    margin: 0;
    text-shadow: 2px 2px 8px hsl(0, 0%, 65%);
    text-decoration: none;
}

button, button:hover, th {
    font-size: 12px;
    background-color: black;
    border: none;
    padding: 13px;
    letter-spacing: 3px;
    text-decoration: none;
}

button, th {
    color: hsl(184, 63%, 95%);
    font-weight: normal;
}

button:hover {
    color: hsl(184, 63%, 85%);
}

.search, .search:hover {
    font-size: 10px;
}

form{
    padding: 15px 0px 15px 0px;
    text-align: right;
    font-size: 12px;
    letter-spacing: 3px;
}

input {
    border: 1px solid hsl(0, 0%, 90%);
    background-color: hsl(0, 0%, 95%);
    padding: 8px;
    font-size: 12px;
}

label {
    margin: 0;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

th, td {
    padding: 5px 15px 5px 15px;
}

table {
    background-color: hsl(184, 63%, 95%);
    box-shadow: 2px 2px 6px 2px hsl(0, 0%, 90%);
}

tr:nth-child(even) {
    background-color: hsl(0, 0%, 85%);
}

.bold {
    font-weight: bold;
}