<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Items Containing Word Nike</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>

<header>
    <div class="header-panel"><h1><a class="title" href="/">Web Shop</a></h1></div>
</header>

<div class="menu">
    <a href="/only-available">
        <button>Only Available</button>
    </a>
    <a href="/sorted-by-cheapest">
        <button>Cheapest First</button>
    </a>
    <a href="/contains-nike">
        <button>Contains nike</button>
    </a>
    <a href="/average-stock">
        <button>Average Stock</button>
    </a>
    <a href="/most-expensive">
        <button>Most Expansive Available</button>
        <a/>
</div>

<div class="content">

    <form action="/search" method="post">
        <label>
            Search:
            <input type="search" placeholder="type here" atribut name="word">
            <button type="submit" class="search">Search</button>
        </label>
    </form>

    <h2>Items Containing Word "nike":</h2>

    <table>
        <tr>
            <th class="bold">Name</th>
            <th>Type</th>
            <th>Description</th>
            <th class="bold">Price</th>
            <th>Quantity of Stock</th>
        </tr>
        <tr th:each="item:${items}">
            <td class="bold" th:text="${item.name}"></td>
            <td th:text="${item.type}"></td>
            <td th:text="${item.description}"></td>
            <td class="bold" th:text="${item.price} + ' Kč'"></td>
            <td th:text="${item.quantityOfStock}"></td>
        </tr>

    </table>

</div>
</body>
</html>