<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Items Containing Word "Nike"</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<a href="/"><h1>Web Shop</h1></a>

<a href="/only-available">
    <button>Only Available</button>
</a>
<a href="/sorted-by-cheapest">
    <button>Cheapest First</button>
</a>
<a href="/contains-nike">
    <button>Contains nike</button>
</a>
<a href="/average-stock">
    <button>Average Stock</button>
</a>
<a href="/most-expensive">
    <button>Most Expansive Available</button>
    <a/>

    <div class="menu">
        <label>
            Search:
            <br>
            <input type="search" placeholder="type here">
            <button>Search</button>
        </label>
    </div>

    <h2>Items Containing Word "Nike":</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity of Stock</th>
        </tr>
        <tr th:each="item:${items}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.description}"></td>
            <td th:text="${item.price} + ' Kč'"></td>
            <td th:text="${item.quantityOfStock}"></td>
        </tr>

    </table>


</body>
</html>